.recurrenceInput {
    width: 301px;
    min-height: 155px;
}

.rule {
    width: 301px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    border-color: #ddd;
    border-style: solid none solid none;
    border-width: 1px;
    margin-bottom: 10px;
}

.compact {
    width: 300px;
}

.button {
    cursor: pointer;
    z-index: 0;
}

.cancel {
    line-height: 30px;
    margin-right: 40px;
}

.save {
    margin-right: 15px;
}
