.yearlyInput {
}

.dayOfYearInput {
    display: inline-block;
    width: 100px;
}

.preLabel {
    composes: pre-label from "./labels.css";
}

.postLabel {
    composes: post-label from "./labels.css";
}

.row {
    composes: row from "./row.css";
}
